@page "/admin/setup"
@model RaythaZero.Web.Areas.Admin.Pages.Setup.Setup

@{
    Layout = "_EmptyLayout";
}

<section class="mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center py-4">
                <div class="card border-0 shadow mb-4">
                    <div class="card-body">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <img class="col-6" src="~/admin/assets/img/color-no-background.svg" alt="logo" />
                            <h1 class="mb-0 mt-2 h3">Initial Setup</h1>
                        </div>
                        @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                                @ViewData["ErrorMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        }
                        @if (ViewData["WarningMessage"] != null)
                        {
                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                @ViewData["WarningMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (ViewData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                                @ViewData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form method="post">
                            <h5>Super administrator account</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label raytha-required" asp-for="@Model.Form.FirstName"></label>
                                        <input type="text" class="form-control @Model.Form.HasError("FirstName")" asp-for="@Model.Form.FirstName" required>
                                        <div class="invalid-feedback">@Model.Form.ErrorMessageFor("FirstName")</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label raytha-required" asp-for="@Model.Form.LastName"></label>
                                        <input type="text" class="form-control @Model.Form.HasError("LastName")" asp-for="@Model.Form.LastName" required>
                                        <div class="invalid-feedback">@Model.Form.ErrorMessageFor("LastName")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.SuperAdminEmailAddress"></label>
                                    <input type="email" class="form-control @Model.Form.HasError(("SuperAdminEmailAddress"))"
                                        asp-for="@Model.Form.SuperAdminEmailAddress" required>
                                    <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SuperAdminEmailAddress")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.SuperAdminPassword"></label>
                                    <input type="password" class="form-control @Model.Form.HasError("SuperAdminPassword")"
                                        asp-for="@Model.Form.SuperAdminPassword" required minlength="8">
                                    <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SuperAdminPassword")</div>
                                    <div class="form-text">Password must be at least 8 characters.</div>
                                </div>
                            </div>
                            <hr/>
                            <h5>Basic configuration</h5>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.OrganizationName"></label>
                                    <input type="text" class="form-control @Model.Form.HasError("OrganizationName")"
                                        asp-for="@Model.Form.OrganizationName" required>
                                    <div class="invalid-feedback">@Model.Form.ErrorMessageFor("OrganizationName")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.WebsiteUrl"></label>
                                    <input type="url" class="form-control @Model.Form.HasError("WebsiteUrl")"
                                        asp-for="@Model.Form.WebsiteUrl" required>
                                    <div class="invalid-feedback">@Model.Form.ErrorMessageFor("WebsiteUrl")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.TimeZone"></label>
                                    <select class="form-select @Model.Form.HasError("TimeZone")" asp-for="@Model.Form.TimeZone"
                                        asp-items="@(new SelectList(Model.TimeZones, "Key", "Value"))" required>
                                    </select>
                                    <div class="invalid-feedback">@Model.Form.ErrorMessageFor("TimeZone")</div>
                                </div>
                            </div>
                            <hr />
                            <h5>Default email settings</h5>
                            <p>When your platform sends emails, choose the name people see when they hit 'Reply' and the email where the replies will land. It helps control the conversation flow when recipients respond to your emails.</p>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.SmtpDefaultFromName"></label>
                                    <input type="text" class="form-control @Model.Form.HasError("SmtpDefaultFromName")"
                                        asp-for="@Model.Form.SmtpDefaultFromName" required
                                        aria-describedby="SmtpDefaultFromNameHelp">
                                    <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SmtpDefaultFromName")</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label raytha-required" asp-for="@Model.Form.SmtpDefaultFromAddress"></label>
                                    <input type="email" class="form-control @Model.Form.HasError("SmtpDefaultFromAddress")"
                                        asp-for="@Model.Form.SmtpDefaultFromAddress" required>
                                    <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SmtpDefaultFromAddress")</div>
                                </div>
                            </div>
                            <hr />
                            @if (Model.MissingSmtpEnvironmentVariables)
                            {
                                <h5>SMTP Settings</h5>
                                <div class="alert alert-warning mt-2" role="alert">
                                    The server administrator has not set SMTP environment variables (SMTP_HOST, SMTP_PORT, SMTP_USERNAME, SMTP_PASSWORD) on this host. Therefore you must specify SMTP server details below.
                                </div>
                                <p>An SMTP server is required for the system to send password reset and confirmation emails.</p>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label raytha-required" asp-for="@Model.Form.SmtpHost"></label>
                                        <input type="text" class="form-control @Model.Form.HasError("SmtpHost")"
                                            asp-for="@Model.Form.SmtpHost" required>
                                        <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SmtpHost")</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label class="form-label raytha-required" asp-for="@Model.Form.SmtpPort"></label>
                                        <input type="number" class="form-control @Model.Form.HasError("SmtpPort")"
                                            asp-for="@Model.Form.SmtpPort" required max="65535">
                                        <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SmtpPort")</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="@Model.Form.SmtpUsername"></label>
                                        <input type="text" class="form-control @Model.Form.HasError("SmtpUsername")"
                                            asp-for="@Model.Form.SmtpUsername">
                                        <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SmtpUsername")</div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="@Model.Form.SmtpPassword"></label>
                                        <input type="password" class="form-control @Model.Form.HasError("SmtpPassword")"
                                            asp-for="@Model.Form.SmtpPassword">
                                        <div class="invalid-feedback">@Model.Form.ErrorMessageFor("SmtpPassword")</div>
                                    </div>
                                </div>
                            }
                            <input type="hidden" asp-for="@Model.MissingSmtpEnvironmentVariables">
                            <button type="submit" class="btn btn-success mt-4">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>